body {
    font-size: 20px;
}

#question-container {
    margin-top: 100px;
}

#options {
    list-style-type: none;
    padding: 0;
}

#check-answer-btn {
    margin-top: 10px;
}

#result-container {
    margin-top: 20px;
    display: none;
}

#check-answer-btn {
    color: white;
    background-color: coral;
    border-color: transparent;
    padding: 10px;
    border-radius: 5px;
}